.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 1.8rem 8rem 2.4rem 8rem;
}

.buttonStyle {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  color: var(--primary01);
  font-size: 2rem;
  margin-right: 4rem;
}

.gnbMenu {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  font-weight: 500;
  color: var(--primary01);
  opacity: 0.5;

  margin-right: 4rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 120%;

  letter-spacing: -0.03em;
}

.gnb__container {
  background: #ffffff;
  backdrop-filter: blur(2rem);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  place-content: space-between;
}

.gnb__location__menu {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #a7abb6;
}

.gnb__location__menu:hover {
  color: #4d5058;
}

.gnbMenu:hover {
  opacity: 1;
}

@keyframes opa {
  /* 0% {
    opacity: 0.5;
    scale: 1;
  }
  50% {
    opacity: 0.75;
    scale: 1.2;
  }
  100% {
    opacity: 1;
    scale: 1;
  } */
  from {
    opacity: 1;
  }

  to {
    opacity: 0.5;
  }
}

.subMenu {
  font-weight: 600;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  color: var(--grayScale06);
  font-size: 1.2rem;
  line-height: 140%;
  display: inline-flex;
  align-items: center;
  letter-spacing: -0.01em;
  margin-right: 16px;
}

.buttonStyle:hover {
  color: black;
}

.logo {
  display: flex;
  align-self: center;
  content: url(../../assets/img/gnb_home_active_hover.svg);
  height: 3.1rem;
  width: 6.8rem;
  margin-right: 5.6rem;
}

.logo:hover {
  cursor: pointer;
  filter: opacity(50%);
}

.leftNav {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.rightNav {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.applyENFont {
  font-size: 1.2rem;
  color: var(--grayScale06);
}

.applyKRFont {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}

.SNSContainer {
  margin: 0;
  padding: 0;
  width: 9.1rem;
  opacity: 90%;
  border-radius: 0.4rem;
}

.SNSMenu {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  color: var(--grayScale06);
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  margin-left: 1.2rem;
  font-weight: 600;
  margin-top: 1.6rem;
}

.SNSMenuFirst {
  /* margin-top: 1.2rem; */
}

.SNSMenuLast {
  /* margin-bottom: 1.6rem; */
}

.companyInfoMenuContainer {
  padding-top: 1.6rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  height: 19.25rem;
  width: 29.6rem;
}

.companyInfoMenuContainerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.companyInfoMenuContainerTitle {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 150%;

  letter-spacing: -0.01em;

  color: #4d5058;
}

.companyInfoMenuContainerLink {
  content: url(../../assets/img/lmdt_link.svg);
  height: 2.1rem;
  width: 11.4rem;
  cursor: pointer;
}

.companyInfoMenuContainerText {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 140%;

  letter-spacing: -0.01em;

  color: var(--grayScale06);
}

.companyTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1.2rem;
}

.companyTitle {
  font-size: 1.4rem;
  color: var(--grayScale07);
}

.companyLinkButton {
  cursor: "pointer";
  content: url(../../assets/img/lmdt_link.svg);
  width: 11.4rem;
  height: 2.1rem;
}

.companyInfoDetail {
  font-size: 1.2rem;
  color: var(--grayScale06);
}

.commonText {
  font-weight: 500;
  font-size: 2rem;
  line-height: 120%;

  letter-spacing: -0.03em;

  color: #55576f;
}

.menu__sns__container {
  margin: 0;
  padding: 0;
}

.lang__button__kr {
  margin-right: 1.6rem;
}

@keyframes underliner {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes underliner__gnb {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

.underliner__gnb {
  position: relative;
  opacity: 1;
}

.underliner__gnb::after {
  content: " ";
  position: absolute;
  top: 85%;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: black;
  margin-left: 1.3rem;
  animation-name: underliner__gnb;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.underliner {
  position: relative;
  opacity: 1;
}

.underliner::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: black;
  animation-name: underliner;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
