.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  padding: 8px 8px 8px 0 !important;
}

.css-10hburv-MuiTypography-root {
  font-size: 48px !important;
  font-family: "Neue Machina" !important;
}
