.ModeExplain {
  width: 100%;
  height: 100%;
  .exs {
    position: relative;
    margin-top: 40px;
    width: 100%;
    .img {
      display: block;
      margin: 0 auto;
      width: 90%;
      height: auto;
      text-align: center;
    }
    .img2 {
      opacity: 0;
      display: block;
      margin: 0 auto;
      width: 100%;
      height: auto;
      text-align: center;
    }
    .ex {
      top: 90px;
      left: 15px;
      position: absolute;
      .laserImg {
        width: 100%;
      }
      .laserEx {
        text-align: left;
        margin-top: 5px;
        font-family: "Pretendard";
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #7e818d;
        width: 100%;
        height: 35px;
      }
    }
    .ex2 {
      top: 0;
      left: 15px;
      position: absolute;
      .senserImg {
        width: 100%;
      }
      .senserEx {
        text-align: left;
        margin-top: 5px;
        font-family: "Pretendard";
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #7e818d;
        width: 100%;
        height: 35px;
      }
    }
    .ex3 {
      top: 0;
      left: 15px;
      position: absolute;
      .galvanicImg {
        width: 80%;
      }
      .galbanicEx {
        text-align: left;
        margin: 5px;
        font-family: "Pretendard";
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #7e818d;
        width: 100%;
        height: 35px;
      }
    }
  }
  .modes {
    margin: 12px 20px;
    height: auto;
    border: 1px solid #f2f3f6;
    padding: 8px 8px;
    background: #fff;
    border-radius: 4px;
    .modeBox {
      display: flex;
      justify-content: space-evenly;
    }
    .mode1 {
      width: 49%;
      font-family: Pretendard;
      font-weight: 600;
      font-size: 1.2rem;
      border-radius: 4px;
      padding: 8px 27px 8px 12px;
    }
    .mode2 {
      width: 49%;
      margin-left: 8px;
      height: auto;
      font-family: Pretendard;
      font-weight: 600;
      font-size: 1.2rem;
      border-radius: 4px;
      padding: 8px 27px 8px 12px;
    }
    .modeEx {
      font-family: Pretendard;
      font-weight: 300;
      color: #4d5058;
      font-size: 1.4rem;
      margin-top: 12px;
      line-height: 150%;
      p {
        em {
          font-weight: 600;
        }
      }
    }
  }
  .modes2 {
    margin: 12px 20px;
    height: auto;
    display: flex;
    align-items: center;
    .laserM {
      width: 70%;
      background: #fff;
      .fx1 {
        position: relative;
        height: 136px;
        border-radius: 4px;
        .fxImg {
          width: 128px;
          height: 136px;
          float: right;
        }
      }
    }
    .etcM {
      width: 100%;
      .fx2 {
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        margin-left: 8px;
        .fx2Img {
          padding-top: 6px;
          padding-right: 6px;
          float: right;
          width: 79px;
          height: 40px;
        }
      }
      .fx3,
      .fx4,
      .fx5 {
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 8px;
        height: 40px;
        margin-top: 8px;
        .fx3Img,
        .fx4Img {
          padding-right: 6px;
          float: right;
          width: 79px;
          height: 40px;
        }
      }
    }
  }
  .modes3 {
    margin: 12px 20px;
    height: auto;
    display: flex;
    align-items: center;
    .laserM {
      width: 70%;
      background: #fff;
      .fx1 {
        position: relative;
        height: 136px;
        border-radius: 4px;
        .fxImg {
          width: 128px;
          height: 136px;
          float: right;
          border-radius: 4px;
        }
      }
    }
    .etcM {
      width: 100%;
      display: flex;
      margin-left: 8px;
      .fx2 {
        position: relative;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        .fx2Img {
          width: 88px;
          height: 64px;
          border-radius: 4px;
        }
      }
      .fx3,
      .fx4,
      .fx5 {
        position: relative;
        border-radius: 4px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        .fx3Img,
        .fx4Img,
        .fx5Img {
          width: 88px;
          height: 64px;
          border-radius: 4px;
        }
        .fx5Img {
          float: right;
        }
      }
    }
  }
  .modesEx {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.06);
    height: auto;
    margin: 20px;
    padding: 12px;
    border-radius: 4px;
    .modeEx {
      border-bottom: 1px dashed #dfe1e8;
      display: flex;
      justify-content: space-between;
    }
  }
  div {
    .etcEx {
      opacity: "0.4";
      p {
        background: linear-gradient(#ffffff66, #ffffff66) padding-box,
          linear-gradient(to bottom, #ffffff, #ffffff1f) border-box;
        border: 1px solid transparent;
        font-family: Pretendard;
        font-size: 1.2rem;
        font-weight: 600;
        color: #7e818d;
      }
    }
  }
}

.cont {
  width: 100%;
  position: relative;
  .contMain {
    width: 100%;
    position: relative;
    text-align: center;
    img {
      margin-top: 30px;
      width: 90%;
      height: auto;
    }
  }
  .contMain2 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    img {
      margin-top: 55px;
      width: 100%;
      height: auto;
    }
  }

  .contName {
    margin: 3px 20px 0 20px;
    .contHeader {
      font-family: "Pretendard";
      font-weight: 700;
      font-size: 1.2rem;
      color: #55576f;
      line-height: 144%;
      letter-spacing: -0.03em;
      em {
        color: #55576f;
      }
    }
    .contHeader_2 {
      margin-top: 10px;
      padding: 4px 8px;
      font-family: "Pretendard";
      font-weight: 700;
      font-size: 1.2rem;
      color: #55576f;
      line-height: 144%;
      letter-spacing: -0.03em;
      background: rgba(242, 243, 246, 1);
      border-radius: 4px;
    }

    .contHeader2 {
      color: #55576f;
      font-family: "Pretendard";
      font-style: normal;
      font-weight: 300;
      font-size: 2rem;
      line-height: 144%;
      letter-spacing: -0.03em;
      padding-top: 10px;
      em {
        font-weight: 800;
      }
    }
    h1 {
      color: #55576f;
      margin-top: 4px;
      font-family: "Pretendard";
      font-weight: 300;
      font-size: 4rem;
      line-height: 128%;
      letter-spacing: -0.03em;
      margin-bottom: 8px;
    }
  }

  .contExplain {
    font-family: "Pretendard";
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: -0.01em;
    width: 24rem;
    color: #4d5058;
  }
  .contExplain2 {
    border-radius: 4px;
    position: absolute;
    background: #f8f8ffb2;
    box-shadow: 0 12px 24px 0 rgba(65, 29, 141, 0.08);
    padding: 16px 16px;
    width: 24rem;
    p {
      font-family: "Pretendard";
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 150%;
      letter-spacing: -0.01em;

      color: #4d5058;
      line-height: 150%;
    }

    .span {
      margin-top: 8px;
      font-family: "Pretendard";
      font-weight: 600;
      font-size: 1.4rem;
      color: rgba(126, 129, 141, 1);
      line-height: 150%;
    }
  }
  .exInfo {
    margin: 12px 20px 24px 20px;
    padding: 12px;
    border: 0.5px solid #f2f3f6;
    border-radius: 4px;
    font-family: "Pretendard";
    font-size: 1.2rem;
    font-weight: 800;
    p {
      margin-top: 4px;
      color: #7e818d;
      span {
        width: 100%;
        margin-left: 8px;
        color: #4d5058;
      }
    }
  }
  .laserConts {
    margin: 0 20px;
    .laserCont {
      display: flex;
      justify-content: space-between;
      box-shadow: 0 4px 40px #00000020;
      background-color: #fff;
      margin-top: 8px;
      padding: 4px;
      border-radius: 4px;
      p {
        padding: 12px;
        font-family: "Pretendard";
        font-weight: 800;
        font-size: 1.6rem;
        color: #55576f;
        em {
          font-size: 1.2rem;
          color: #a292a3;
        }
      }
      img {
        width: 30%;
      }
    }
  }
  .graphConts {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    .graphCont {
      width: 49%;
      border-radius: 4px;
      background-color: #fff;
      padding: 12px;
      h1 {
        font-family: "Pretendard";
        font-weight: 800;
        font-size: 1.6rem;
        color: #55576f;
      }
      .hairCont {
        margin-top: 8px;
        .graphPart {
          font-family: "Pretendard";
          font-weight: 700;
          font-size: 1.2rem;
          color: #a7abb6;
        }
        .graphFigure {
          font-family: "Pretendard";
          font-weight: 800;
          font-size: 1.6rem;
          color: #55576f;
        }
      }
    }
  }
  .safes {
    margin-top: 40px;
    h1 {
      font-family: "Pretendard";
      font-weight: 800;
      font-size: 1.6rem;
      color: #55576f;
    }
    .safe1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .safe1_1,
      .safe1_2 {
        align-items: center;
        font-family: "Pretendard";
        font-weight: 800;
        font-size: 1.4rem;
        color: #55576f;
        border-radius: 4px;
        margin-top: 8px;
        width: 100%;
        padding: 12px 8px;
        background: #fff;
        display: flex;
        align-items: center;
        img {
          width: 16px;
          margin-right: 8px;
        }
      }
      .safe1_2 {
        margin-left: 8px;
      }
    }
  }
}

.iframe {
  -webkit-overflow-scrolling: "touch";
}

.swiper {
  height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
  .cont {
    width: 100%;
    height: 100vh;
    .ModeExplain {
      .exs {
        .ex {
          top: 160px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 15px;
  }
  .cont {
    width: 100%;
    height: 100vh;
    .ModeExplain {
      .exs {
        .ex {
          top: 160px;
        }
      }
    }
  }
}
