// Pretendard
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Thin.ttf") format("woff"),
    url("../fonts/Pretendard-Thin.ttf") format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-ExtraLight.ttf") format("woff"),
    url("../fonts/Pretendard-ExtraLight.ttf") format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Light.ttf") format("woff"),
    url("../fonts/Pretendard-Light.ttf") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Regular.ttf") format("woff"),
    url("../fonts/Pretendard-Regular.ttf") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Medium.ttf") format("woff"),
    url("../fonts/Pretendard-Medium.ttf") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-SemiBold.ttf") format("woff"),
    url("../fonts/Pretendard-SemiBold.ttf") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Bold.ttf") format("woff"),
    url("../fonts/Pretendard-Bold.ttf") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Black.ttf") format("woff"),
    url("../fonts/Pretendard-Black.ttf") format("woff2");
  font-weight: 1000;
}

// CaviarDreams
@font-face {
  font-family: "CaviarDreams";
  src: url("../fonts/CaviarDreams.ttf") format("woff"),
    url("../fonts/CaviarDreams.ttf") format("woff2");
}
@font-face {
  font-family: "CaviarDreams";
  src: url("../fonts/CaviarDreams_Bold.ttf") format("woff"),
    url("../fonts/CaviarDreams_Bold.ttf") format("woff2");
  font-weight: bold;
}
