#header {
  padding: 1rem 0;
  min-width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #fff;
}

.header__logo {
  margin-left: 20px;

  a {
    width: 48px;
    font-family: "Pretendard";
    font-weight: 300;
    font-size: 2.4rem;
    letter-spacing: -0.03em;
    color: #55576f;
    text-align: center;
  }
}
.right {
  margin: 10px;
  .shopIcon {
    display: flex;
    align-items: center;
    img {
      width: 3.2rem;
      height: auto;
    }
    .shopText {
      font-family: "Pretendard";
      font-weight: 700;
      font-size: 1.2rem;
      color: #55576f;
    }
  }
}

.menuHead {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #a7abb6;
  margin-top: 10px;
  margin-left: 16px;
  margin-right: 16px;
}

.product {
  font-weight: normal;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #a7abb6;
}
.mall {
  font-family: "Pretendard";
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #55576f;
  width: 100%;
  margin-top: 48px;
  margin-left: 20px;
}

.service {
  font-family: "Pretendard";
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #55576f;
  padding-left: 16px;
  padding-bottom: 30px;
  padding-right: 16px;
  width: 100%;
  margin-top: 56px;
  p {
    margin-bottom: 16px;
  }
}

.sns {
  margin-left: 20px;
}

.info {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 24px;
  span {
    margin-right: 16px;
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 144%;
    letter-spacing: -0.03em;
    font-feature-settings: "tnum" on, "lnum" on;
    color: #7e818d;
    opacity: 0.5;
    float: right;
    cursor: pointer;
  }
}
