#header {
  padding: 1rem 0;
  min-width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  z-index: 99999;
  a {
    margin: 15px 15px;
    font-family: "Pretendard";
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #55576f;
    img {
      text-align: center;
      margin: 15px 0;
    }
  }
}
.right {
  margin: 10px;
  .shopIcon {
    z-index: 99999;
    display: flex;
    align-items: center;
    img {
      width: 2.4rem;
      height: auto;
    }
    .shopText {
      font-family: "Pretendard";
      font-weight: 700;
      font-size: 1.2rem;
      color: #55576f;
    }
  }
}

.menuHead {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #a7abb6;
  margin-top: 56px;
  margin-left: 16px;
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: normal;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #a7abb6;
  margin-top: 56px;
}
.mall {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #55576f;
  padding-left: 16px;
  padding-bottom: 30px;
  padding-right: 16px;
  width: 100%;
}

.info {
  padding: 10px;
  width: 150px;
  position: absolute;
  left: 60%;
  top: 100%;
  span {
    margin-right: 16px;
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 144%;
    letter-spacing: -0.03em;
    font-feature-settings: "tnum" on, "lnum" on;
    color: #7e818d;
    opacity: 0.5;
    float: right;
    cursor: pointer;
  }
}
