#header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to left, #e9caf4 0%, #f4edff 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.header__logo {
  padding: 15px 10px 10px 10px;
  a {
    display: inline-block;

    font-family: "PP Neue Machina";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #55576f;
  }
}
.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop {
  color: #55576f;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .shopText {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: -0.03em;
  }
}

.toShop {
  display: flex;
  align-items: center;
  span {
    margin-left: 10px;
  }
}

.product {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #55576f;
  padding-left: 16px;
  padding-right: 16px;
}
.mall {
  font-family: "PP Neue Machina";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #55576f;
  padding-left: 16px;
  padding-bottom: 30px;
  width: 160px;
}
.snsT {
  width: 10px;
  margin-left: 3px;
  font-family: "PP Neue Machina";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #55576f;
}
.sns {
  padding-left: 16px;
  width: 130px;
}

.info {
  padding: 10px;
  width: 150px;
  float: right;
  span {
    padding-right: 16px;
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 144%;
    letter-spacing: -0.03em;
    font-feature-settings: "tnum" on, "lnum" on;
    color: #7e818d;
    opacity: 0.5;
    float: right;
    cursor: pointer;
  }
}
