.oval {
  width: 230px;
  height: 230px;
  position: absolute;
  right: 220px;
  top: 350px;
  z-index: 1;
}
.cont {
  overflow: hidden;
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;

  .contName {
    padding: 20px 20px 20px 20px;
    .contHeader {
      font-family: "Pretendard";
      font-size: 24px;
      color: #55576f;
      line-height: 144%;
      letter-spacing: -0.03em;
      font-weight: 600;
      em {
        color: #a292a3;
      }
    }

    .contHeader2 {
      color: #55576f;
      font-family: "Pretendard";
      font-style: normal;
      font-weight: 300;
      font-size: 40px;
      line-height: 144%;
      letter-spacing: -0.03em;
      padding-top: 10px;
      em {
        font-weight: 700;
      }
    }

    h1 {
      color: #55576f;
      margin-top: 25px;
      font-family: "CaviarDreams";
      font-size: 44px;
      line-height: 110%;
      letter-spacing: -0.03em;
    }
  }

  .ModeExplain {
    width: 100%;
    height: 100%;
    .modes {
      border: 1px solid #f2f3f6;
      padding: 8px 8px 8px 8px;
      .mode1 {
        width: 49.5%;
        display: inline-block;
        font-family: Pretendard;
        font-weight: 600;
        font-size: 24px;
        color: #f8f9fa;
        border: 1px solid #4d5058;
        background-color: #4d5058;
        border-radius: 4px;
        padding: 8px 27px 8px 12px;
      }
      .mode2 {
        width: 49.5%;
        margin-left: 6px;
        display: inline-block;
        font-family: Pretendard;
        font-weight: 600;
        font-size: 24px;
        color: #a7abb6;
        border: 1px solid #f2f3f6;
        background-color: #f2f3f6;
        border-radius: 4px;
        padding: 8px 67px 8px 12px;
      }
      .modeEx {
        font-family: Pretendard;
        font-weight: 300;
        color: #4d5058;
        font-size: 28px;
        margin-top: 12px;
      }
    }
    .exs {
      margin-top: 20px;
      width: 100%;
      height: 800px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .contExplain {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    width: 240px;
    padding: 0 0 20px 20px;
    color: #4d5058;
  }

  .contMain {
    width: 100%;
    height: 590px;
    background-image: url(../img/me_01_main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .contHow {
    width: 100%;
    .images {
      width: 100%;
      height: 1000px;
      img {
        height: 100%;
        height: 1000px;
      }
    }
  }

  .howTo {
    height: 1200px;
    background: #ffffff;
    border: 0.558467px solid #efefef;
    box-shadow: 0px 4.46774px 11.1693px rgba(169, 121, 124, 0.1);
    backdrop-filter: blur(13.4032px);
    border-radius: 4.46774px;
    margin: 0 20px 20px 20px;

    .howToTitle {
      padding: 10px;
      .title {
        font-family: "Pretendard";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        display: flex;
        align-items: flex-end;
        letter-spacing: -0.01em;
        color: #55576f;
      }
    }
    .howToExplain {
      padding: 20px;
      background: linear-gradient(
        180deg,
        #f8f9fa 0%,
        rgba(248, 249, 250, 0) 100%
      );
      .explain {
        font-family: "Pretendard";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #7e818d;
      }
    }
    .howToConts1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 0 20px 0 20px;
      .howToCont {
        width: 100%;
        height: 446px;
        background-color: #faf8fb;
        margin-top: 20px;
        align-items: center;
      }
    }

    .howToCont2 {
      width: 100%;
      height: 882px;
      margin-top: 70px;
      background-color: #faf8fb;
      align-items: center;
    }

    .howToConts2 {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .howToCont3 {
        width: 550px;
        height: 865px;
        margin-top: 70px;
        background-color: #faf8fb;
        align-items: center;
      }
    }
  }

  .ex {
    width: 200px;
    height: 35px;
    top: 570px;
    left: 15px;
    position: absolute;
    display: inline-block;
    .laserEx {
      margin: 10px;
      font-family: "Pretendard";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #7e818d;
      width: 300px;
      height: 35px;
    }
  }

  .ex2 {
    width: 200px;
    height: 35px;
    top: 410px;
    left: 15px;
    position: absolute;
    display: inline-block;

    .galbanicEx {
      margin: 10px;
      font-family: "Pretendard";
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #7e818d;
      width: 300px;
      height: 35px;
    }
  }

  .ex3 {
    width: 150px;
    height: 35px;
    top: 410px;
    left: 15px;
    position: absolute;
    display: inline-block;
    .senserEx {
      margin: 10px;
      font-family: "Pretendard";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #7e818d;
      width: 300px;
      height: 35px;
    }
  }

  .contPrice {
    width: 100%;
    height: 100%;

    .price {
      margin: 0 auto;
      width: 100%;
      height: 150px;
      border: 1px solid #f2f3f6;
      padding: 20px;
      margin-bottom: 10px;
      .priceMain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
        .priceName {
          width: 200px;
          height: 48px;
          font-family: "Pretendard";
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 150%;
          letter-spacing: -0.01em;
          color: #28292e;
        }
        .mainPrice {
          font-family: "Pretendard";
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 144%;
          text-align: right;
          letter-spacing: -0.03em;
          font-feature-settings: "tnum" on, "lnum" on;
          color: #b398ad;
        }
      }
      .disconunt {
        display: inline-block;
      }
      .priceSub {
        float: right;
        .month {
          display: inline-block;
          font-family: "Pretendard";
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 144%;
          letter-spacing: -0.03em;
          font-feature-settings: "tnum" on, "lnum" on;
          color: #c7cad3;
          padding-right: 10px;
        }
        .subPrice {
          display: inline-block;
          font-family: "Pretendard";
          font-style: normal;
          font-weight: 300;
          font-size: 40px;
          line-height: 144%;
          letter-spacing: -0.03em;
          font-feature-settings: "tnum" on, "lnum" on;
          color: #4d5058;
        }
      }
    }
    .price2 {
      margin: 0 auto;
      width: 100%;
      height: 190px;
      border: 1px solid #f2f3f6;
      padding: 20px;
      .priceMain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 35px;
        .priceName {
          width: 200px;
          height: 48px;
          font-family: "Pretendard";
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 150%;
          letter-spacing: -0.01em;
          color: #28292e;
        }
        .mainPrice {
          font-family: "Pretendard";
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 144%;
          text-align: right;
          letter-spacing: -0.03em;
          font-feature-settings: "tnum" on, "lnum" on;
          color: #b398ad;
          .mainSub {
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 144%;
            text-align: right;
            letter-spacing: -0.03em;
            font-feature-settings: "tnum" on, "lnum" on;
            color: #c7cad3;
          }
        }
      }
      .discount {
        width: 100px;
        height: 22px;
        display: inline-block;
        background: #f8f9fa;
        border-radius: 4px;
        margin-top: 20px;
        .disPrice {
          font-family: "Pretendard";
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 140%;
          letter-spacing: -0.01em;
          color: #b398ad;
          padding: 2px 4px 2px 4px;
        }
      }
      .priceSub {
        float: right;
        .month {
          display: inline-block;
          font-family: "Pretendard";
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 144%;
          letter-spacing: -0.03em;
          font-feature-settings: "tnum" on, "lnum" on;
          color: #c7cad3;
          padding-right: 10px;
        }
        .subPrice {
          display: inline-block;
          font-family: "Pretendard";
          font-style: normal;
          font-weight: 300;
          font-size: 40px;
          line-height: 144%;
          letter-spacing: -0.03em;
          font-feature-settings: "tnum" on, "lnum" on;
          color: #4d5058;
        }
      }
    }
    .details {
      width: 500px;
      height: 126px;
      margin-top: 210px;
      .detailText {
        font-family: "Pretendard";
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 150%;
        /* or 21px */

        letter-spacing: -0.01em;

        /* grayscale/06 */

        color: #7e818d;
      }
    }
  }
}

@media (max-width: 1200px) {
  .cont {
    width: 800px;
    .contMain {
      width: 100%;
    }
    .contHow {
      width: 100%;
      .images {
        width: 100%;
        height: 800px;
        img {
          width: 100%;
          height: 800px;
        }
      }
    }
    .contName {
      padding: 20px 20px 20px 20px;
      .contHeader {
        font-family: "Pretendard";
        font-size: 24px;
        color: #55576f;
        line-height: 144%;
        letter-spacing: -0.03em;
        font-weight: 600;
        em {
          color: #a292a3;
        }
      }

      .contHeader2 {
        color: #55576f;
        font-family: "Pretendard";
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: 144%;
        letter-spacing: -0.03em;
        padding-top: 10px;
        em {
          font-weight: 700;
        }
      }

      h1 {
        color: #55576f;
        margin-top: 25px;
        font-family: "PP Neue Machina";
        font-size: 44px;
        line-height: 110%;
        letter-spacing: -0.03em;
      }
    }
    .ModeExplain {
      width: 100%;
      height: 100%;
      .modes {
        border: 1px solid #f2f3f6;
        padding: 8px 8px 8px 8px;
        .mode1 {
          width: 49.5%;
          display: inline-block;
          font-family: Pretendard;
          font-weight: 600;
          font-size: 24px;
          color: #f8f9fa;
          border: 1px solid #4d5058;
          background-color: #4d5058;
          border-radius: 4px;
          padding: 8px 27px 8px 12px;
        }
        .mode2 {
          width: 49.5%;
          margin-left: 6px;
          display: inline-block;
          font-family: Pretendard;
          font-weight: 600;
          font-size: 24px;
          color: #a7abb6;
          border: 1px solid #f2f3f6;
          background-color: #f2f3f6;
          border-radius: 4px;
          padding: 8px 67px 8px 12px;
        }
        .modeEx {
          font-family: Pretendard;
          font-weight: 300;
          color: #4d5058;
          font-size: 28px;
          margin-top: 12px;
        }
      }
      .exs {
        margin-top: 20px;
        width: 100%;
        height: 800px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .howTo {
      height: 900px;
      background: #ffffff;
      border: 0.558467px solid #efefef;
      box-shadow: 0px 4.46774px 11.1693px rgba(169, 121, 124, 0.1);
      backdrop-filter: blur(13.4032px);
      border-radius: 4.46774px;
      margin: 0 20px 20px 20px;

      .howToTitle {
        padding: 10px;
        .title {
          font-family: "Pretendard";
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 150%;
          display: flex;
          align-items: flex-end;
          letter-spacing: -0.01em;
          color: #55576f;
        }
      }
      .howToExplain {
        padding: 20px;
        background: linear-gradient(
          180deg,
          #f8f9fa 0%,
          rgba(248, 249, 250, 0) 100%
        );
        .explain {
          width: 400px;
          height: 140px;
          font-family: "Pretendard";
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 150%;
          letter-spacing: -0.01em;
          color: #7e818d;
        }
      }
      .howToConts1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 0 20px 0 20px;
        .howToCont {
          width: 100%;
          height: 300px;
          background-color: #faf8fb;
          margin-top: 20px;
          align-items: center;
        }
      }

      .howToCont2 {
        width: 100%;
        height: 595px;
        margin-top: 70px;
        background-color: #faf8fb;
        align-items: center;
      }

      .howToConts2 {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .howToCont3 {
          width: 320px;
          height: 565px;
          margin-top: 70px;
          background-color: #faf8fb;
          align-items: center;
        }
      }
    }
    .ex2 {
      width: 200px;
      height: 35px;
      top: 410px;
      left: 15px;
      position: absolute;
      display: inline-block;

      .galbanicEx {
        margin: 10px;
        font-family: "Pretendard";
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #7e818d;
        width: 300px;
        height: 35px;
      }
    }
    .contPrice {
      width: 100%;
      height: 100%;

      .price {
        margin: 0 auto;
        width: 100%;
        height: 150px;
        border: 1px solid #f2f3f6;
        padding: 20px;
        margin-bottom: 10px;
        .priceMain {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 5px;
          .priceName {
            width: 200px;
            height: 48px;
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 150%;
            letter-spacing: -0.01em;
            color: #28292e;
          }
          .mainPrice {
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 144%;
            text-align: right;
            letter-spacing: -0.03em;
            font-feature-settings: "tnum" on, "lnum" on;
            color: #b398ad;
          }
        }
        .disconunt {
          display: inline-block;
        }
        .priceSub {
          float: right;
          .month {
            display: inline-block;
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 144%;
            letter-spacing: -0.03em;
            font-feature-settings: "tnum" on, "lnum" on;
            color: #c7cad3;
            padding-right: 10px;
          }
          .subPrice {
            display: inline-block;
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 300;
            font-size: 40px;
            line-height: 144%;
            letter-spacing: -0.03em;
            font-feature-settings: "tnum" on, "lnum" on;
            color: #4d5058;
          }
        }
      }
      .price2 {
        margin: 0 auto;
        width: 100%;
        height: 190px;
        border: 1px solid #f2f3f6;
        padding: 20px;
        .priceMain {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 35px;
          .priceName {
            width: 200px;
            height: 48px;
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 150%;
            letter-spacing: -0.01em;
            color: #28292e;
          }
          .mainPrice {
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 144%;
            text-align: right;
            letter-spacing: -0.03em;
            font-feature-settings: "tnum" on, "lnum" on;
            color: #b398ad;
            .mainSub {
              font-family: "Pretendard";
              font-style: normal;
              font-weight: 600;
              font-size: 24px;
              line-height: 144%;
              text-align: right;
              letter-spacing: -0.03em;
              font-feature-settings: "tnum" on, "lnum" on;
              color: #c7cad3;
            }
          }
        }
        .discount {
          width: 100px;
          height: 22px;
          display: inline-block;
          background: #f8f9fa;
          border-radius: 4px;
          margin-top: 20px;
          .disPrice {
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 140%;
            letter-spacing: -0.01em;
            color: #b398ad;
            padding: 2px 4px 2px 4px;
          }
        }
        .priceSub {
          float: right;
          .month {
            display: inline-block;
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 144%;
            letter-spacing: -0.03em;
            font-feature-settings: "tnum" on, "lnum" on;
            color: #c7cad3;
            padding-right: 10px;
          }
          .subPrice {
            display: inline-block;
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 300;
            font-size: 40px;
            line-height: 144%;
            letter-spacing: -0.03em;
            font-feature-settings: "tnum" on, "lnum" on;
            color: #4d5058;
          }
        }
      }
      .details {
        width: 500px;
        height: 126px;
        margin-top: 210px;
        .detailText {
          font-family: "Pretendard";
          font-style: normal;
          font-weight: 500;
          font-size: 28px;
          line-height: 150%;
          /* or 21px */

          letter-spacing: -0.01em;

          /* grayscale/06 */

          color: #7e818d;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .cont {
    width: 705px;
    .contMain {
      width: 705px;
      .contExplain {
        font-family: "Pretendard";
        font-size: 24px;
        width: 200px;
      }
    }
    .ModeExplain {
      width: 100%;
      height: 100%;
      .modes {
        border: 1px solid #f2f3f6;
        padding: 8px 8px 8px 8px;
        .mode1 {
          width: 49.5%;
          display: inline-block;
          font-family: Pretendard;
          font-weight: 600;
          font-size: 24px;
          color: #f8f9fa;
          background-color: #4d5058;
          border-radius: 4px;
          padding: 8px 27px 8px 12px;
          box-shadow: #000000 8%;
        }
        .mode2 {
          margin-left: 6px;
          width: 49.5%;
          display: inline-block;
          font-family: Pretendard;
          font-weight: 600;
          font-size: 24px;
          color: #a7abb6;
          background-color: #f2f3f6;
          border-radius: 4px;
          padding: 8px 67px 8px 12px;
        }
        .modeEx {
          font-family: Pretendard;
          font-weight: 300;
          color: #4d5058;
          font-size: 28px;
          margin-top: 12px;
        }
      }
      .exs {
        margin-top: 20px;
        width: 765px;
        height: 720px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .contHow {
      .images {
        width: 100%;
        height: 700px;
        img {
          width: 100%;
          height: 700px;
        }
      }
    }
    .contName {
      padding: 20px 20px 20px 20px;
      .contHeader {
        font-family: "Pretendard";
        font-size: 24px;
        color: #55576f;
        line-height: 144%;
        letter-spacing: -0.03em;
        font-weight: 600;
        em {
          color: #a292a3;
        }
      }

      .contHeader2 {
        color: #55576f;
        font-family: "Pretendard";
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: 144%;
        letter-spacing: -0.03em;
        padding-top: 10px;
        em {
          font-weight: 700;
        }
      }

      h1 {
        color: #55576f;
        margin-top: 25px;
        font-family: "CaviarDreams";
        font-size: 44px;
        line-height: 110%;
        letter-spacing: -0.03em;
      }
    }
    .howTo {
      height: 850px;
      background: #ffffff;
      border: 0.558467px solid #efefef;
      box-shadow: 0px 4.46774px 11.1693px rgba(169, 121, 124, 0.1);
      backdrop-filter: blur(13.4032px);
      border-radius: 4.46774px;
      margin: 0 20px 20px 20px;

      .howToTitle {
        padding: 10px;
        .title {
          font-family: "Pretendard";
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 150%;
          display: flex;
          align-items: flex-end;
          letter-spacing: -0.01em;
          color: #55576f;
        }
      }
      .howToExplain {
        width: 100%;
        padding: 20px;
        background: linear-gradient(
          180deg,
          #f8f9fa 0%,
          rgba(248, 249, 250, 0) 100%
        );
        .explain {
          font-family: "Pretendard";
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 150%;
          letter-spacing: -0.01em;
          color: #7e818d;
        }
      }
      .howToConts1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 0 20px 0 20px;
        .howToCont {
          width: 100%;
          height: 275px;
          background-color: #faf8fb;
          margin-top: 20px;
          align-items: center;
        }
      }

      .howToCont2 {
        width: 100%;
        height: 545px;
        margin-top: 70px;
        background-color: #faf8fb;
        align-items: center;
      }

      .howToConts2 {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .howToCont3 {
          width: 320px;
          height: 535px;
          margin-top: 70px;
          background-color: #faf8fb;
          align-items: center;
        }
      }
    }
    .ex {
      width: 180px;
      height: 35px;
      top: 470px;
      left: 15px;
      position: absolute;
      display: inline-block;
      .laserEx {
        margin: 10px;
        font-family: "Pretendard";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #7e818d;
        width: 300px;
        height: 35px;
      }
    }
    .ex2 {
      width: 180px;
      height: 35px;
      top: 210px;
      left: 15px;
      position: absolute;
      display: inline-block;
      .galbanicEx {
        margin: 10px;
        font-family: "Pretendard";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #7e818d;
        width: 200px;
        height: 35px;
      }
    }
    .ex3 {
      width: 130px;
      height: 35px;
      top: 330px;
      left: 15px;
      position: absolute;
      display: inline-block;
      .senserEx {
        margin: 10px;
        font-family: "Pretendard";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #7e818d;
        width: 300px;
        height: 35px;
      }
    }
    .contPrice {
      width: 100%;
      height: 100%;

      .price {
        margin: 0 auto;
        width: 100%;
        height: 150px;
        border: 1px solid #f2f3f6;
        padding: 20px;
        margin-bottom: 10px;
        .priceMain {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 5px;
          .priceName {
            width: 200px;
            height: 48px;
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 150%;
            letter-spacing: -0.01em;
            color: #28292e;
          }
          .mainPrice {
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 144%;
            text-align: right;
            letter-spacing: -0.03em;
            font-feature-settings: "tnum" on, "lnum" on;
            color: #b398ad;
          }
        }
        .disconunt {
          display: inline-block;
        }
        .priceSub {
          float: right;
          .month {
            display: inline-block;
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 144%;
            letter-spacing: -0.03em;
            font-feature-settings: "tnum" on, "lnum" on;
            color: #c7cad3;
            padding-right: 10px;
          }
          .subPrice {
            display: inline-block;
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 300;
            font-size: 40px;
            line-height: 144%;
            letter-spacing: -0.03em;
            font-feature-settings: "tnum" on, "lnum" on;
            color: #4d5058;
          }
        }
      }
      .price2 {
        margin: 0 auto;
        width: 100%;
        height: 190px;
        border: 1px solid #f2f3f6;
        padding: 20px;
        .priceMain {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 35px;
          .priceName {
            width: 200px;
            height: 48px;
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 150%;
            letter-spacing: -0.01em;
            color: #28292e;
          }
          .mainPrice {
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 144%;
            text-align: right;
            letter-spacing: -0.03em;
            font-feature-settings: "tnum" on, "lnum" on;
            color: #b398ad;
            .mainSub {
              font-family: "Pretendard";
              font-style: normal;
              font-weight: 600;
              font-size: 24px;
              line-height: 144%;
              text-align: right;
              letter-spacing: -0.03em;
              font-feature-settings: "tnum" on, "lnum" on;
              color: #c7cad3;
            }
          }
        }
        .discount {
          width: 100px;
          height: 22px;
          display: inline-block;
          background: #f8f9fa;
          border-radius: 4px;
          margin-top: 20px;
          .disPrice {
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 140%;
            letter-spacing: -0.01em;
            color: #b398ad;
            padding: 2px 4px 2px 4px;
          }
        }
        .priceSub {
          float: right;
          .month {
            display: inline-block;
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 144%;
            letter-spacing: -0.03em;
            font-feature-settings: "tnum" on, "lnum" on;
            color: #c7cad3;
            padding-right: 10px;
          }
          .subPrice {
            display: inline-block;
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 300;
            font-size: 40px;
            line-height: 144%;
            letter-spacing: -0.03em;
            font-feature-settings: "tnum" on, "lnum" on;
            color: #4d5058;
          }
        }
      }
      .details {
        width: 500px;
        height: 126px;
        margin-top: 210px;
        .detailText {
          font-family: "Pretendard";
          font-style: normal;
          font-weight: 500;
          font-size: 28px;
          line-height: 150%;
          /* or 21px */

          letter-spacing: -0.01em;

          /* grayscale/06 */

          color: #7e818d;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .cont {
    width: 360px;
    .contMain {
      width: 360px;
    }
    .ModeExplain {
      margin-left: 20px;
      width: 320px;
      height: 100%;
      .modes {
        border: 1px solid #f2f3f6;
        padding: 8px 8px 8px 8px;
        background: #fff;
        .mode1 {
          width: 148px;
          display: inline-block;
          font-family: Pretendard;
          font-weight: 600;
          font-size: 12px;
          color: #f8f9fa;
          border: 1px solid #4d5058;
          background-color: #4d5058;
          border-radius: 4px;
          padding: 8px 27px 8px 12px;
        }
        .mode2 {
          margin-left: 6px;
          width: 148px;
          display: inline-block;
          font-family: Pretendard;
          font-weight: 600;
          font-size: 12px;
          color: #a7abb6;
          border: 1px solid #f2f3f6;
          background-color: #f2f3f6;
          border-radius: 4px;
          padding: 8px 67px 8px 12px;
        }
        .modeEx {
          font-family: Pretendard;
          font-weight: 300;
          color: #4d5058;
          font-size: 14px;
          margin-top: 12px;
        }
      }
      .exs {
        margin-top: 50px;
        width: 320px;
        height: 520px;
      }
    }
    .contHow {
      .images {
        width: 100%;
        height: 470px;
        img {
          width: 100%;
          height: 470px;
        }
      }
    }
    .howTo {
      width: 320px;
      height: 600px;
      background: #ffffff;
      border: 0.558467px solid #efefef;
      box-shadow: 0px 4.46774px 11.1693px rgba(169, 121, 124, 0.1);
      backdrop-filter: blur(13.4032px);
      border-radius: 4.46774px;
      margin: 0 20px 20px 20px;

      .howToTitle {
        padding: 10px;
        .title {
          font-family: "Pretendard";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          display: flex;
          align-items: flex-end;
          letter-spacing: -0.01em;
          color: #55576f;
        }
      }
      .howToExplain {
        padding: 20px;
        background: linear-gradient(
          180deg,
          #f8f9fa 0%,
          rgba(248, 249, 250, 0) 100%
        );
        .explain {
          width: 278px;
          height: 63px;
          font-family: "Pretendard";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 150%;
          letter-spacing: -0.01em;
          color: #7e818d;
        }
      }
      .howToConts1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        .howToCont {
          width: 280px;
          height: 197px;
          background-color: #faf8fb;
          margin-top: 20px;
          align-items: center;
        }
      }

      .howToCont2 {
        width: 318px;
        height: 420px;
        margin-top: 30px;
        background-color: #faf8fb;
        align-items: center;
      }

      .howToConts2 {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .howToCont3 {
          width: 133px;
          height: 405px;
          margin-top: 30px;
          background-color: #faf8fb;
          align-items: center;
        }
      }
    }
    .contMain {
      background-size: contain;
      .contExplain {
        font-family: "Pretendard";
        font-size: 16px;
        width: 150px;
      }
      .oval {
        width: 200px;
        height: 200px;
        position: absolute;
        right: 240px;
        top: 350px;
      }
    }
    .contName {
      padding: 20px 20px 8px 20px;
      .contHeader {
        font-family: "Pretendard";
        font-size: 12px;
        color: #55576f;
        line-height: 144%;
        letter-spacing: -0.03em;
        font-weight: 600;
        em {
          color: #a292a3;
        }
      }

      .contHeader2 {
        color: #55576f;
        font-family: "Pretendard";
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 144%;
        letter-spacing: -0.03em;
        padding-top: 10px;
        em {
          font-weight: 700;
        }
      }

      h1 {
        color: #55576f;
        margin-top: 25px;
        font-family: "CaviarDreams";
        font-size: 44px;
        line-height: 110%;
        letter-spacing: -0.03em;
      }
    }
    .ex {
      top: 350px;
      left: 15px;
      position: absolute;
      display: inline-block;
      .laserImg {
        width: 122px;
        height: 35px;
      }
      .laserEx {
        margin: 10px;
        font-family: "Pretendard";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #7e818d;
        width: 110px;
        height: 35px;
      }
    }
    .ex3 {
      top: 260px;
      left: 15px;
      position: absolute;
      display: inline-block;
      .senserImg {
        width: 100px;
        height: 35px;
      }
      .senserEx {
        margin: 10px;
        font-family: "Pretendard";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #7e818d;
        width: 125px;
        height: 35px;
      }
    }
    .ex2 {
      top: 260px;
      left: 15px;
      position: absolute;
      display: inline-block;
      .galbanicImg {
        width: 100px;
        height: 35px;
      }
      .galbanicEx {
        margin: 10px;
        font-family: "Pretendard";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #7e818d;
        width: 120px;
        height: 35px;
      }
    }
    .contPrice {
      .price {
        margin: 0 auto;
        width: 320px;
        height: 75px;
        border: 1px solid #f2f3f6;
        padding: 10px;
        margin-bottom: 10px;
        .priceMain {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 5px;
          .priceName {
            width: 100px;
            height: 24px;
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: -0.01em;
            color: #28292e;
          }
          .mainPrice {
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 144%;
            text-align: right;
            letter-spacing: -0.03em;
            font-feature-settings: "tnum" on, "lnum" on;
            color: #b398ad;
          }
        }
        .disconunt {
          display: inline-block;
        }
        .priceSub {
          float: right;
          .month {
            display: inline-block;
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 144%;
            letter-spacing: -0.03em;
            font-feature-settings: "tnum" on, "lnum" on;
            color: #c7cad3;
            padding-right: 10px;
          }
          .subPrice {
            display: inline-block;
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 144%;
            letter-spacing: -0.03em;
            font-feature-settings: "tnum" on, "lnum" on;
            color: #4d5058;
          }
        }
      }
      .price2 {
        width: 320px;
        height: 105px;
        border: 1px solid #f2f3f6;
        padding: 10px;
        margin-bottom: 10px;
        .priceMain {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 35px;
          .priceName {
            width: 100px;
            height: 24px;
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: -0.01em;
            color: #28292e;
          }
          .mainPrice {
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 144%;
            text-align: right;
            letter-spacing: -0.03em;
            font-feature-settings: "tnum" on, "lnum" on;
            color: #b398ad;
            .mainSub {
              font-family: "Pretendard";
              font-style: normal;
              font-weight: 600;
              font-size: 12px;
              line-height: 144%;
              text-align: right;
              letter-spacing: -0.03em;
              font-feature-settings: "tnum" on, "lnum" on;
              color: #c7cad3;
            }
          }
        }
        .discount {
          width: 55px;
          height: 22px;
          display: inline-block;
          background: #f8f9fa;
          border-radius: 4px;
          margin-top: 5px;
          .disPrice {
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 140%;
            letter-spacing: -0.01em;
            color: #b398ad;
            padding: 2px 4px 2px 4px;
          }
        }
        .priceSub {
          float: right;
          .month {
            display: inline-block;
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 144%;
            letter-spacing: -0.03em;
            font-feature-settings: "tnum" on, "lnum" on;
            color: #c7cad3;
            padding-right: 10px;
          }
          .subPrice {
            display: inline-block;
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 144%;
            letter-spacing: -0.03em;
            font-feature-settings: "tnum" on, "lnum" on;
            color: #4d5058;
          }
        }
      }
      .details {
        margin: 0 auto;
        width: 278px;
        height: 126px;
        margin-top: 210px;
        .detailText {
          font-family: "Pretendard";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 150%;
          /* or 21px */

          letter-spacing: -0.01em;

          /* grayscale/06 */

          color: #7e818d;
        }
      }
    }
  }
}
