.cont {
  .contName {
    padding: 20px 20px 20px 20px;
    .contHeader {
      font-family: "Pretendard";
      font-size: 12px;
      color: #55576f;
      line-height: 144%;
      letter-spacing: -0.03em;
      font-weight: 600;
      em {
        color: #a292a3;
      }
    }

    .contHeader2 {
      color: #55576f;
      font-family: "Pretendard";
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 144%;
      letter-spacing: -0.03em;
      padding-top: 10px;
      em {
        font-weight: 700;
      }
    }
    h1 {
      color: #55576f;
      margin-top: 25px;
      font-family: "Neue Machina";
      font-size: 44px;
      line-height: 110%;
      letter-spacing: -0.03em;
    }
  }

  .contMain {
    position: fixed;
    width: 360px;
    height: 670px;
    background-color: #c4c4c4;
    background-image: url("https://images.unsplash.com/photo-1648319565114-77f45d783592?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=654&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    p {
      font-family: "Pretendard";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      width: 150px;
      padding: 20px 0 0 20px;
    }
  }
}
