.oval {
  width: 136px;
  position: absolute;
  right: 220px;
  top: 350px;
}

.cont {
  width: 100%;
  height: 100vh;
  .contMain {
    max-width: 100%;
    height: 100%;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
    }

    .contExplain {
      font-family: "Pretendard";
      font-size: 10em;
      width: 150px;
    }
  }

  .contName {
    padding: 0 20px 8px 20px;
    .contHeader {
      font-family: "Pretendard";
      font-weight: 700;
      font-size: 1.2rem;
      color: #55576f;
      line-height: 144%;
      letter-spacing: -0.03em;
      em {
        color: #55576f;
      }
    }

    .contHeader2 {
      color: #55576f;
      font-family: "Pretendard";
      font-style: normal;
      font-weight: 300;
      font-size: 2rem;
      line-height: 144%;
      letter-spacing: -0.03em;
      padding-top: 10px;
      em {
        font-weight: 700;
      }
    }

    h1 {
      color: #55576f;
      margin-top: 25px;
      font-family: "Pretendard";
      font-size: 4.8rem;
      line-height: 110%;
      letter-spacing: -0.03em;
    }
  }
  .contExplain {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: -0.01em;
    width: 280px;
    padding: 0 0 20px 20px;
    color: #4d5058;
  }
  .ModeExplain {
    width: 100%;
    height: 100%;
    .modes {
      height: auto;
      border: 1px solid #f2f3f6;
      margin: 0 20px 0 20px;
      padding: 15px 0;
      background: #fff;
      .modeBox {
        display: flex;
        justify-content: space-evenly;
      }
      .mode1 {
        width: 49%;
        font-family: Pretendard;
        font-weight: 600;
        font-size: 1.2rem;
        color: #f8f9fa;
        border: 1px solid #4d5058;
        background-color: #4d5058;
        border-radius: 4px;
        padding: 8px 27px 8px 12px;
      }
      .mode2 {
        width: 49%;
        height: auto;
        font-family: Pretendard;
        font-weight: 600;
        font-size: 1.2rem;
        color: #a7abb6;
        border: 1px solid #f2f3f6;
        background-color: #f2f3f6;
        border-radius: 4px;
        padding: 8px 67px 8px 12px;
      }
      .modeEx {
        padding: 0 15px;
        font-family: Pretendard;
        font-weight: 300;
        color: #4d5058;
        font-size: 1.4rem;
        margin-top: 12px;
        line-height: 150%;
      }
    }
    .exs {
      text-align: center;
      position: relative;
      margin-top: 40px;
      width: 100%;
      height: 100%;
      .img {
        display: block;
        margin: 0 auto;
        width: 40rem;
        height: 50rem;
        text-align: center;
      }
      .ex {
        top: 90px;
        left: 15px;
        position: absolute;
        .laserImg {
          width: 100%;
        }
        .laserEx {
          text-align: left;
          margin-top: 5px;
          font-family: "Pretendard";
          font-style: normal;
          font-weight: 500;
          font-size: 1.2rem;
          line-height: 150%;
          letter-spacing: -0.01em;
          color: #7e818d;
          width: 100%;
          height: 35px;
        }
      }
      .ex2 {
        top: 0;
        left: 15px;
        position: absolute;
        .senserImg {
          width: 100%;
        }
        .senserEx {
          text-align: left;
          margin-top: 5px;
          font-family: "Pretendard";
          font-style: normal;
          font-weight: 500;
          font-size: 1.2rem;
          line-height: 150%;
          letter-spacing: -0.01em;
          color: #7e818d;
          width: 100%;
          height: 35px;
        }
      }
      .ex3 {
        top: 0;
        left: 15px;
        position: absolute;
        .galbanicImg {
          width: 100px;
        }
        .galbanicEx {
          text-align: left;
          margin: 5px;
          font-family: "Pretendard";
          font-style: normal;
          font-weight: 500;
          font-size: 1.2rem;
          line-height: 150%;
          letter-spacing: -0.01em;
          color: #7e818d;
          width: 100%;
          height: 35px;
        }
      }
    }
  }
  .contHow {
    .images {
      width: 100%;
      height: 470px;
      img {
        width: 100%;
        height: 470px;
      }
    }
  }

  .contPrice {
    .price1 {
      border: 1px solid #f2f3f6;
      border-radius: 4px;
      padding: 8px 16px 8px 16px;
      margin: 20px 20px;
      .name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .text {
          font-family: "Pretendard";
          font-weight: 600;
          font-size: 1.6rem;
          color: #4d5058;
        }
        .num {
          font-family: "Pretendard";
          font-weight: 700;
          font-size: 1.2rem;
          color: #b298ad;
        }
      }
      .sub {
        text-align: right;
        margin-top: 10px;
        .subText {
          font-family: "Pretendard";
          font-weight: 700;
          color: #c7cad3;
          em {
            font-weight: 300;
            font-size: 2rem;
            color: #4d5058;
          }
        }
      }
    }

    .price2 {
      border: 1px solid #f2f3f6;
      border-radius: 4px;
      padding: 8px 16px 8px 16px;
      margin: 20px 20px;
      .name {
        display: flex;
        justify-content: space-between;
        .text {
          font-family: "Pretendard";
          font-weight: 600;
          font-size: 1.6rem;
          color: #4d5058;
        }
        .num {
          font-family: "Pretendard";
          font-weight: 700;
          font-size: 1.2rem;
          color: #b298ad;
          em {
            font-family: "Pretendard";
            font-weight: 700;
            color: #c7cad3;
          }
        }
      }
      .sub {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        .subText {
          font-family: "Pretendard";
          font-weight: 700;
          color: #c7cad3;
          em {
            font-weight: 300;
            font-size: 2rem;
            color: #4d5058;
          }
        }
        .sale {
          font-family: "Pretendard";
          font-weight: 700;
          font-size: 1.2rem;
          color: #b298ad;
          background: #f8f9fa;
          padding: 2px 4px 2px 4px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
  .ex {
    top: 200px;
    left: 15px;
    position: absolute;
    .laserImg {
      width: 100%;
    }
    .laserEx {
      text-align: left;
      margin-top: 5px;
      font-family: "Pretendard";
      font-style: normal;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #7e818d;
      width: 100%;
      height: 35px;
    }
  }
  .ex2 {
    top: 0;
    left: 15px;
    position: absolute;
    .senserImg {
      width: 100%;
    }
    .senserEx {
      text-align: left;
      margin-top: 5px;
      font-family: "Pretendard";
      font-style: normal;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #7e818d;
      width: 100%;
      height: 35px;
    }
  }
  .ex3 {
    top: 0;
    left: 15px;
    position: absolute;
    .galbanicImg {
      width: 100px;
    }
    .galbanicEx {
      text-align: left;
      margin: 5px;
      font-family: "Pretendard";
      font-style: normal;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #7e818d;
      width: 100%;
      height: 35px;
    }
  }
}
