.swiper-wrapper {
  width: 100%;
}
.ovalImg {
  z-index: 1;
  position: absolute;
  bottom: 210px;
  left: -130px;
  width: 250px;
  height: 250px;
}
.swiper-pagination-fraction {
  font-family: "Pretendard";
  font-size: 24px;
}
.swiper-pagination-current {
  padding: 5px;
  color: #55576f;
}
.swiper-pagination-total {
  font-family: "Pretendard";
  color: #55576f;
  opacity: 30%;
  padding: 5px;
}

// @media (max-width: 1440px) {
//   .swiper-pagination-fraction {
//     font-family: "Pretendard";
//     top: 20px;
//     margin-left: 350px;
//     position: absolute;
//     font-size: 20px;
//   }
// }
// @media (max-width: 768px) {
//   .swiper-pagination-fraction {
//     font-family: "Pretendard";
//     margin-bottom: 703px;
//     margin-left: 152px;
//     font-size: 16px;
//     float: left;
//   }
// }
// @media (max-width: 480px) {
//   .swiper-pagination-fraction {
//     font-family: "Pretendard";
//     margin-bottom: 703px;
//     margin-left: 142px;
//     font-size: 14px;
//     float: left;
//   }
// }
