.swiper-wrapper {
  width: 100%;
}
.ovalImg {
  z-index: 1;
  position: absolute;
  bottom: 210px;
  left: -130px;
  width: 250px;
  height: 250px;
}
.swiper-pagination-fraction {
  display: flex;
  font-family: "Pretendard";
  margin-left: 830px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  float: right;
  .img {
    width: 0;
    height: 8px;
  }
}
.swiper-pagination-current {
  padding: 5px;
  color: #55576f;
}
.swiper-pagination-total {
  font-family: "Pretendard";
  color: #55576f;
  opacity: 30%;
  padding: 5px;
}

@media (max-width: 1000px) {
  .swiper-pagination-fraction {
    font-family: "Pretendard";
    margin-left: 730px;
    margin-top: 25px;
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .swiper-pagination-fraction {
    font-family: "Pretendard";
    margin-left: 700px;
    font-size: 16px;
  }
}
@media (max-width: 415px) {
  .swiper-pagination-fraction {
    font-family: "Pretendard";
    margin-left: 330px;
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .swiper-pagination-fraction {
    font-family: "Pretendard";
    margin-left: 300px;
    font-size: 14px;
  }
}
