.swiper {
  width: 360px;
  height: 755px;
  .ovalImg {
    z-index: 1;
    position: absolute;
    bottom: 210px;
    left: -130px;
    width: 250px;
    height: 250px;
  }
}
.swiper-pagination-fraction {
  font-family: "Pretendard";
  margin-bottom: 703px;
  margin-left: 162px;
  font-size: 14px;
  float: left;
}
.swiper-pagination-current {
  padding: 5px;
  color: #55576f;
}
.swiper-pagination-total {
  font-family: "Pretendard";
  color: #55576f;
  opacity: 30%;
  padding: 5px;
}
