.techExplain {
  margin-top: 14px;
  width: 245px;
  padding: 12px 10px;
  font-family: "Pretendard";
  font-weight: 800;
  font-size: 1.6rem;
  color: #4d5058;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to bottom, #ffffff00, #55576f4d) border-box;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 20px 60px #00000008;
}
.techExplain2 {
  text-align: left;
  margin-top: 8px;
  background: linear-gradient(#fff, rgba(255, 255, 255, 0)) padding-box;
  border: 1px solid transparent;
  width: 72%;
  padding: 12px 10px;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 1.4rem;
  color: #4d5058;
  position: absolute;
  top: 80%;
  left: 24%;
}
