.techExplain {
  margin-top: 14px;
  width: 245px;
  padding: 12px 10px;
  font-family: "Pretendard";
  font-weight: 800;
  font-size: 1.6rem;
  color: #4d5058;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(to bottom, #ffffff00, #55576f4d) border-box;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 20px 60px #00000008;
}
.techExplain2 {
  text-align: left;
  margin-top: 8px;
  background: linear-gradient(#fff, rgba(255, 255, 255, 0)) padding-box;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 72%;
  padding: 12px 10px;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 1.4rem;
  color: #4d5058;
  position: absolute;
  top: 80%;
  left: 24%;
}
.criticalTech {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .criticalCont {
    border: 1px solid rgba(242, 243, 246, 1);
    border-radius: 4px;
    width: 100%;
    margin: 20px 8px 20px 20px;
    img {
      padding-top: 8px;
      width: 100%;
    }
    p {
      font-family: "Pretendard";
      font-weight: 700;
      font-size: 1.2rem;
      text-align: center;
      margin: 8px 0 12px 0;
      color: rgba(126, 129, 141, 1);
    }
  }
  .criticalCont2 {
    border: 1px solid rgba(242, 243, 246, 1);
    border-radius: 4px;
    margin: 20px 20px 20px 0;
    width: 100%;
    img {
      padding-top: 8px;
      width: 100%;
    }
    p {
      font-family: "Pretendard";
      font-weight: 700;
      font-size: 1.2rem;
      text-align: center;
      margin: 8px 0 12px 0;
      color: rgba(126, 129, 141, 1);
    }
  }
}
.ErYag {
  background: linear-gradient(#f8f9fa, #f8f9fa) padding-box,
    linear-gradient(to bottom, #ffffff00, #55576f4d) border-box;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 60%;
  padding: 12px;
  margin-left: 20px;
  .ErYagText1 {
    font-family: "Pretendard";
    font-weight: 700;
    font-size: 1.2rem;
    color: rgba(85, 87, 111, 1);
  }
  .ErYagText2 {
    font-family: "Pretendard";
    font-weight: 800;
    font-size: 2rem;
    color: rgba(77, 80, 88, 1);
  }
}
.ErYagConts {
  position: absolute;
  top: 85%;
  z-index: -1;
  margin-left: 30px;
  margin-right: 20px;
  border: 1px solid rgba(242, 243, 246, 1);
  border-radius: 4px;
  background: rgba(255, 255, 255, 1);
  .ErYagCont {
    font-family: "Pretendard";
    font-weight: 600;
    font-size: 1.4rem;
    color: rgba(126, 129, 141, 1);
    margin: 20px 20px 0 20px;
    padding-bottom: 17px;
    border-bottom: 1px dashed rgba(223, 225, 232, 1);
  }
  .ErYagCont2 {
    font-family: "Pretendard";
    font-weight: 600;
    font-size: 1.4rem;
    color: rgba(126, 129, 141, 1);
    margin: 20px 20px 0 20px;
    padding-bottom: 17px;
    border-bottom: 1px dashed rgba(223, 225, 232, 1);
  }
  .ErYagCont3 {
    font-family: "Pretendard";
    font-weight: 600;
    font-size: 1.4rem;
    color: rgba(126, 129, 141, 1);
    margin: 20px 20px 0 20px;
    padding-bottom: 17px;
  }
  em {
    color: rgba(40, 41, 46, 1);
  }
}

.action {
  .actionImg {
    margin: 12px 20px 12px 20px;
    img {
      width: 100%;
    }
  }
}

.puraCertfied {
  display: flex;
  align-items: center;
  margin: 20px;
  .puraCertText {
    padding: 6px 12px;
    background: rgba(85, 87, 111, 1);
    border-radius: 4px;
    font-family: "Pretendard";
    font-weight: 800;
    font-size: 1.4rem;
    color: rgba(248, 249, 250, 1);
  }
  .puraCertText2 {
    font-family: "Pretendard";
    font-weight: 600;
    font-size: 1.4rem;
    color: rgba(167, 171, 182, 1);
    margin-left: 8px;
  }
}
.puraCertImgs {
  display: flex;
  align-items: center;
  margin: 0 20px;
  .puraCertImg {
    margin-right: 4px;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .puraCertImg2 {
    width: 100%;
    margin-left: 4px;
    img {
      width: 100%;
    }
  }
}

.lmdtCertfied {
  display: flex;
  align-items: center;
  margin: 40px 20px 20px 20px;
  .lmdtCertText {
    padding: 6px 12px;
    background: rgba(242, 243, 246, 1);
    border-radius: 4px;
    font-family: "Pretendard";
    font-weight: 800;
    font-size: 1.4rem;
    color: rgba(77, 80, 88, 1);
  }
  .lmdtCertText2 {
    font-family: "Pretendard";
    font-weight: 600;
    font-size: 1.4rem;
    color: rgba(167, 171, 182, 1);
    margin-left: 8px;
  }
}
.lmdtCertImgs {
  display: flex;
  align-items: center;
  margin: 8px 20px;
  .lmdtCertImg {
    margin-right: 4px;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .lmdtCertImg2 {
    width: 100%;
    margin-left: 4px;
    img {
      width: 100%;
    }
  }
}
